<div class="card" b style="width: 18rem;">
  <img class="card-img-top" src="note.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Iphone X</h5>
    <p class="card-text">iphone x cameras
      Apple
      
      MORE LIKE THIS
      tim cook iphonex
      iPhone X: Face ID, OLED screen, wireless charging and the other features...
      iphonex
      iPhone X review: The thrill is back
      iphone 8 oled edge to edge display
      iPhone 8 and iPhone X rumors: iOS 11 leak spills name, chip, and other details
      mre18 024 applewatch
      VIDEO
      Apple Watch Series 4 unveil
      LATEST REVIEWS
      Apple iPhone 6 Plus
      Apple iPhone 6
      Apple iPhone 5s
      iPhone X: It’s real, it’s here, and it’s very expensive. The iPhone X is a radical departure from the form factor of every other iPhone out there, including the iPhone 8 and 8 Plus. It comes with a jet-black edge-to-edge OLED screen topped by a TrueDetect camera system that enables a brand-new Face ID unlocking system and Animoji features.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Price: 20000</li>
    <li class="list-group-item">Color: Black</li>
    <li class="list-group-item">Spec: Qaud Qore</li>
  </ul>

</div>